$icon-font-path: "../fonts/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "sb-admin-2.scss";

/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.dropdown-toggle {
    cursor: pointer;
}

footer {
    margin: 30px 0;
    text-align: center;
}

.section-child {
    color: #337ab7;
}

.section-class {
    color: #5cb85c;
}

.section-school {
    color: #f0ad4e;
}

.search-box {
    padding: 15px 0px;
}

.link-row:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.form-error {
    color: red;
    font-weight: bold;
}

.form-foto {
    width: 160px;
    display: block;
    margin: 0px auto;

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-foto-edit {
    position: absolute;
    top: 140px;
    margin: 0px auto;

    background-color: lightgray;
    border-radius: 4px;
    padding: 10px;
    width: 220px;
}

.alerts {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 300px;
    height: 100px;
    z-index: 1000;
}

.alert {
    line-height: 30px;
    list-style: none;
    box-sizing: border-box;
}

.alert.ng-move,
.alert.ng-enter,
.alert.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.alert.ng-leave.ng-leave-active,
.alert.ng-move,
.alert.ng-enter {
    opacity: 0;
}

.alert.ng-leave,
.alert.ng-move.ng-move-active,
.alert.ng-enter.ng-enter-active {
    opacity: 1;
}
