<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js" manifest="manifest.appcache">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>HDB - Alpha</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="lib/bootstrap.min.css" rel="stylesheet">

    <!-- startbootstrap SB Admin Theme CSS -->
    <link href="lib/metisMenu.min.css" rel="stylesheet">
    <link href="lib/sb-admin-2.css" rel="stylesheet">
    <link href="lib/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="lib/ng-table.min.css">

    <!-- Custom App CSS -->
	<link rel="stylesheet" href="app.css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">HDB</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown" ng-controller="AlertController">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
<!-- App Alert Control -->
                    <ul class="dropdown-menu dropdown-alerts">
                        <li ng-repeat="info in alerts">
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> {{ info.title }}
                                    <span class="pull-right text-muted small">{{ info.time }}</span>
                                </div>
                            </a>
                            <p class="divider"></p>
                        </li>

                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu" ng-controller="NavigationController">
<!-- App Navigation Menu Control -->
                        <li ng-repeat="item in menu_main">
                            <a href="#{{ item.url }}"><i class="fa {{ item.icon }} fa-fw"></i> {{ item.title }}<span class="fa arrow" ng-if="item.submenu.length > 0" /></a>
                            <ul class="nav nav-second-level" ng-if="item.submenu.length > 0">
                                <li ng-repeat="sub in item.submenu">
                                    <a href="#{{ sub.url }}"> {{ sub.title }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>


        <!-- Main Page -->
        <div id="page-wrapper" ng-view></div>


        <!-- Footer -->
	    <footer>
            <div class="row">
                <div class="col-lg-12">
                    <a href="https://github.com/sebastian-leidig/helgo_db">Project HELGO DB (v<span app-version></span>)</a>
                </div>
            </div>
        </footer>

    </div>
    <!-- /#wrapper -->


	


<!-- JavaScript -->

	<!-- In production use: <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script> -->
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-route.min.js"></script>
    <script src="lib/ng-table.min.js"></script>
    <script src="lib/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-pouchdb.min.js"></script>
    <script src="lib/pouchdb.min.js"></script>
    <script src="lib/pouchdb.authentication.min.js"></script>

	
	<!-- App -->
	<script src="app.js"></script>
    <script src="model/appDB.js"></script>
    <script src="model/user.js"></script>
	<script src="navigation.js"></script>
	<script src="alerts.js"></script>
    <script src="view/user/login.js"></script>
    <script src="model/child.js"></script>
    <script src="view/child/child.js"></script>
    <script src="model/school.js"></script>
    <script src="view/school/school.js"></script>
	<script src="view/dashboard/dashboard.js"></script>
	
	<!-- Components -->
	<script src="components/version/version-directive.js"></script>
    <script src="components/search/search-directive.js"></script>

    <!-- Bootstrap Theme JavaScript -->
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/metisMenu.min.js"></script>

</body>
</html>
