<div class="modal-header">
    <h3 class="modal-title">Family Member: {{ selectedFamilyMember.name }}</h3>
</div>


<form role="form" name="formUpdateFamilyMember">

    <div class="modal-body">

        <div class="form-group">
            <p class="input-group">
                <label>Name</label>
                <input class="form-control" ng-model="selectedFamilyMember.name" required/>
            </p>
        </div>
        <div class="form-group">
            <p class="input-group">
                <label>Relationship</label>
                <input type="text" class="form-control" ng-model="selectedFamilyMember.relationship" required/>
            </p>
        </div>
        <div class="form-group">
            <p class="input-group">
                <label><input type="checkbox" ng-model="selectedFamilyMember.isGuardian"/> Guardian</label>
            </p>
        </div>
        <div class="form-group">
            <label>Date of Birth</label>

            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}"
                       ng-model="selectedFamilyMember.dateOfBirth" is-open="dateDoB.opened"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="dateDoB.opened=true">
                    <i class="fa fa-calendar"></i>
                </button>
             </span>
            </p>
        </div>
        <div class="form-group">
            <label>Mobile Number</label>
            <input class="form-control" ng-model="selectedFamilyMember.mobile"/>
        </div>
        <div class="form-group">
            <label>Remarks</label>
            <textarea class="form-control" rows="3" ng-model="selectedFamilyMember.remarks"></textarea>
        </div>
    </div>


    <div class="modal-footer">
        <input class="btn btn-warning" type="button" ng-click="cancel();" value="Cancel"/>
        <input class="btn btn-danger" type="button" ng-if="!newFamilyMember" ng-click="deleteFamilyMember();"
               value="Delete"/>
        <input class="btn btn-success" type="submit" ng-click="saveFamilyMember();" value="Save"/>
    </div>

</form>
