<div class="row">
    <div class="col-lg-10">
        <h1 class="page-header section-school"><i class="fa fa-university fa-fw"></i> {{ school.name }}</h1>
    </div>
    <div class="col-lg-2">
        <div type="button" class="page-header btn btn-success" ng-click="save();">Save</div>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="alert alert-success" ng-if="new">
    Creating a new school record.
</div>
<div class="alert alert-danger" ng-if="error">
    {{ error }}
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        School Details
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <form role="form">
            <div class="row">
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" ng-model="school.name">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Medium</label>
                        <select class="form-control" ng-model="school.medium">
                            <option>English</option>
                            <option>Hindi</option>
                            <option>Bengali</option>
                            <option>Urdu</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel School Details -->


<div class="panel panel-default">
    <div class="panel-heading">
        Students
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <table ng-table="tableStudents" class="table table-condensed table-bordered table-striped" show-filter="true">
            <tr ng-repeat="child in $data" ng-click="showChild(child.pn)" class="link-row">
                <td title="'Name'" sortable="'name'">
                    {{child.name}}
                </td>
                <td title="'Class'" sortable="'grade'">
                    {{child.grade}}
                </td>
                </a></tr>
        </table>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel Students-->


<div class="row">
    <div class="col-lg-12" style="text-align:center; padding:20px;">
        <button type="button" class="btn btn-success" ng-click="save();">Save</button>
    </div>
</div>